/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/Adform.ScalaLab.Segmentation.Console.exe
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/Adform.ScalaLab.Segmentation.Console.exe.config
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/Adform.ScalaLab.Segmentation.Console.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/Adform.ScalaLab.Segmentation.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/Adform.ScalaLab.Segmentation.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/ranges.tsv
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/bin/Debug/transactions.tsv
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/Adform.ScalaLab.Segmentation.Console.csproj.FileListAbsolute.txt
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/Adform.ScalaLab.Segmentation.Console.csprojResolveAssemblyReference.cache
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/Adform.ScalaLab.Segmentation.Console.exe
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/Adform.ScalaLab.Segmentation.Console.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/Adform.ScalaLab.Segmentation.Tests.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/Adform.ScalaLab.Segmentation.Tests.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/Adform.ScalaLab.Segmentation.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/Adform.ScalaLab.Segmentation.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/nunit.framework.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/nunit.framework.xml
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/ranges.tsv
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/results.tsv
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/bin/Debug/transactions.tsv
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/Adform.ScalaLab.Segmentation.Tests.csproj.FileListAbsolute.txt
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/Adform.ScalaLab.Segmentation.Tests.csprojResolveAssemblyReference.cache
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/Adform.ScalaLab.Segmentation.Tests.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/Adform.ScalaLab.Segmentation.Tests.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/bin/Debug/Adform.ScalaLab.Segmentation.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/bin/Debug/Adform.ScalaLab.Segmentation.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/Adform.ScalaLab.Segmentation.csproj.FileListAbsolute.txt
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/Adform.ScalaLab.Segmentation.dll
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/Adform.ScalaLab.Segmentation.pdb
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Adform.ScalaLab/Adform.ScalaLab.Segmentation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Adform.ScalaLab/Adform.ScalaLab.v12.suo
/Adform.ScalaLab/Adform.ScalaLab.sln.DotSettings.user
/Adform.ScalaLab/packages
